/* responsive style start */
@media screen and (max-width: 576px) {
    .header-content h1{
        flex-direction: column;
    }
    nav ul{
        display: none;
    }
    .bars{
        display: block;
        color: rgb(255, 255, 255);
        /* flex-direction: row;
        justify-content: end;
        align-items: center;
        color: aliceblue; */
    }
}
@media screen and (max-width: 576px) {
    .text-content{
        flex-direction: column;
    }
    .child2{
        margin: 0 auto;
    }
}
@media screen and (max-width: 576px) {
    .image-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .card img{
        /* margin: 0 auto; */
        width: 450px;
        border-radius: 250px;
    }
}
@media screen and (max-width: 576px) {
    .run-content{
        flex-direction: column;
    }
    .extra h1 p{
        text-align: center;
    }
    .extra button{
        width: 400px;
    }
    img{
        width: 500px;
    }
}   