/* responsive style start */
@media screen and (max-width: 576px) {
    .header-content h1{
        flex-direction: column;
    }
    nav ul{
        display: none;
    }
    #bars{
        display: block;
    }
}
@media screen and (max-width: 576px) {
    .text-content{
        flex-direction: column;
    }
    .first-text button{
        width: 250px;
    }
    .child2{
        margin: 0 auto;
        margin-top: 50px;
    }
    .first-btn{
        top: 630px;
        right: 100px;
    }
    .second-btn{
        top: 830px;
        right: 300px;
    }
}
@media screen and (max-width: 576px) {
    .change-container{
        padding: 30px;
    }
    .title-text .header{
        margin-top: 0px;
    }
    .image-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .card img{
        margin: auto;
        width: 300px;
        border-radius: 250px;
        margin-left: 20%;
        /* border: 2px solid red; */
    }
}
@media screen and (max-width: 576px) {
    .run-container{
        padding: 30px;
    }
    .run-content{
        flex-direction: column;
    }
    .extra h1 p{
        text-align: center;
    }
    .extra button{
        width: 450px;
    }
    .run-image{
        width: 430px;
        margin-left: 4%;
    }
}   