*{
    margin: 0;
    padding: 0;
}
/* header section start */
.header-container{
    background-color: rgb(34, 34, 34);
}
.header-content{
    display: flex;
    max-width: 1100px;
    border: 2px solid white;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    /* margin-top: 50px; */
}
nav ul{
    display: flex;
    gap:40px;
}
ul li{
    list-style: none;
}
ul a{
    text-decoration: none;
}
.bars{
    display: none;
}
.header-content h1{
    font-size: 34;
    font-family: "Inter", sans-serif;;
    font-weight: 800;
    color: rgb(230, 83, 60);
}
ul li button{
    background-color: rgb(230, 83, 60);
    font-size: 16;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);
    padding: 8px 20px 8px 20px;
    border-radius: 40px;
    border: none;
}
ul li a{
    font-size: 16;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.bars{
    color: rgb(255, 255, 255);
}
.text-content{
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    margin: 0 auto;
}
.child1{
    margin-top: 80px;
}
.child1 h1{
    font-size: 70px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
.child1 h1 .shape{
    font-family: "Dancing Script", cursive;
    font-weight: 100;
}
.child1 p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Inter", sans-serif;
}
.child1 button{
    padding: 16px 40px 16px 40px;
    border-radius: 40px;
    border: none;
    background-color: rgb(230, 83, 60);
    margin-top: 28px;
    color: rgb(255, 255, 255);
}
.child1 .app{
    background-color: black;
    border: 1px solid white;
}
.child2 img{
    /* max-width: 349px;
    max-height: 580px; */
}
/* header section end */
/* change your habit section start */
.change-container{
    background-color: black;
    border: 2px solid black;
}
.child1 h1{
    font-family: "Inter", sans-serif;
    font-size: 45px;
    font-weight: 900;
    text-align: center;
}
.child1 p{
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 14px;
    margin-bottom: 58px;
}
.image-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1100px;
    border: 2px solid white;
    gap: 20px;
    margin: 0 auto; 
    width: 100%;
}
.card img{
    border-radius: 110px;
    justify-content: end;
    width: 220px;
    
}
.card h1{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}
.card p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: center;
}
/* change your habit section end */
/* ran and extra section start */
.run-container{
    background-color: black;
    border: 1px solid black;
}
.run-content{
    max-width: 1100px;
    border: 2px solid white;
    border-radius: 15px;
    background: rgb(34, 34, 34);
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.extra{
    margin-top: 30px;
    padding: 30px;

}
.extra h1{
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    margin-top: px; 
}
.extra p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin-top: 14px;
}
.extra button{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin-top: 34px;
    border-radius: 40px;
    background-color: rgb(230, 83, 60);
    padding: 16px 40px;
    border: none;
}
img{
    width: 350px;
    height: auto;
    padding: 20px;
    border-radius: 30px;
}
/* ran and extra section end */
