*{
    margin: 0;
    padding: 0;
}
/* header section start */
.header-container{
    background: radial-gradient(rgb(49, 49, 49), rgb(8, 8, 8));
}
.header-content{
    display: flex;
    max-width: 1100px;
    /* border: 2px solid red; */
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    /* margin-top: 50px; */
}
nav ul{
    display: flex;
    gap: 40px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 7px;
    border-radius: 40px;
}
ul li{
    list-style: none;
}
ul a{
    text-decoration: none;
}
#bars{
    display: none;
    color: rgb(255, 255, 255);
}
.header-content h1{
    font-size: 34;
    font-family: "Inter", sans-serif;;
    font-weight: 800;
    font-style: italic;
    color: rgb(230, 83, 60);
}
li .home{
    background-color: rgb(230, 83, 60);
    padding: 6px;
    border-radius: 15px;
}
ul li a{
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.text-content{
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid white; */
    margin: 0 auto;
    /* padding: 10px; */
}
.first-text{
    margin-top: 50px;
}
.first-text h1{
    font-size:60px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
.first-text .shape{
    font-family: 'Miama', sans-serif;
    font-weight: 500;
    font-size: 75px;
}
.first-text p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Inter", sans-serif;
    margin-top: 30px;
}
.first-text button{
    padding: 16px 40px 16px 40px;
    border-radius: 40px;
    border: none;
    background-color: rgb(230, 83, 60);
    margin-top: 28px;
    color: rgb(255, 255, 255);
}
.first-text .app{
    background-color: rgb(34, 34, 34);
    border: 1px solid white;
    margin-left: 10px;
}
.child2 .man{
    max-width: 349px;
    max-height: 580px;
    /* border: 2px solid white; */
    position: relative;
}
.first-btn{
    position: absolute;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 20px;
    top: 220px;
    right: 250px;
}
.first-btn h1{
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 30px;
    font-weight: 650;
    font-family: "Inter", sans-serif;
}
.first-btn p{
    color: rgba(255, 255, 255, 0.65);
}
.second-btn{
    top: 510px;
    right: 560px;
    background-color: rgba(37, 37, 37, 0.616);
    display: flex;
}
.second-btn .color-add{
    width: 28px;
    height: 28px;
    background-color: rgb(230, 83, 60);
    border-radius: 20px;
    margin-top: 12px;
    margin-right: 10px;
}
/* header section end */
/* change your habit section start */
.change-container{
    background-color: black;
    border: 2px solid black
}
.title-text{
    /* border: 2px solid red; */
    max-width: 1100px;
    margin: 0 auto;
}
.title-text .header{
    font-family: "Inter", sans-serif;
    font-size: 33px;
    font-weight: 900;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 80px;
}
.title-text p{
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 14px;
    margin-bottom: 58px;
}
.image-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1100px;
    /* border: 2px solid white; */
    gap: 20px;
    margin: 0 auto; 
    width: 100%;
}
.card img{
    border-radius: 150px;
    width: 78%;
    margin-left: 10%;
    border: 4px solid rgb(34, 34, 34);
}
.card h1{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}
.card p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: center;
}
/* change your habit section end */
/* ran and extra section start */
.run-container{
    background-color: black;
    border: 1px solid black;
}
.run-content{
    max-width: 1100px;
    /* border: 2px solid white; */
    border-radius: 15px;
    background: rgb(34, 34, 34);
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.extra{
    margin-top: 30px;
    padding: 30px;
    margin-left: -20px;

}
.extra h1{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
}
.extra p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin-top: 14px;
}
.extra button{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin-top: 34px;
    border-radius: 40px;
    background-color: rgb(230, 83, 60);
    padding: 16px 40px;
    border: none;
}
.run-image{
    width: 350px;
    border-radius: 30px;
    margin-right: 30px;
    /* border: 2px solid red; */
}
/* ran and extra section end */
/* bmi calculator section start */
.bmi-container{
    background-color: black;
    border: 2px solid black;
}
.bmi-content{
    display: flex;
    max-width: 1100px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 60px;
}
.text-section{
    margin: 0 auto;
}
.text-section h1{
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-family: "Inter", sans-serif;
    font-weight:900;
    text-align: left;
}
.text-section p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: left;
}
.calculator-chart{
    background-color: rgb(34, 34, 34);
    border: 2px solid rgb(34, 34, 34);
    margin-top: 50px;
    margin-bottom: 60px;
}
.max{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bmi-table{
    /* border: 2px solid yellow; */
}
.bmi-table h1{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    text-align: left;
    margin-bottom: 50px;
}
table,th,td{
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 10px;
}
tr th{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    text-align: left;
}
tr td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: left;
}
.bmi-input{
    /* border: 2px solid red; */
    position: relative;
}
.bmi-input h1{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    text-align: left;
    margin-bottom: 14px;
    margin-top: 40px;
}
.bmi-input p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: left;
    margin-bottom: 30px;
}
.bmi-input input{
    width: 140px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 40px 12px 20px;
    border: none;
    margin-bottom: 10px;
    margin-right: 10px;
}
.bmi-input #last-input{
    width: 350px;
}
.bmi-input button{
    margin-top: 22px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    border: none;
    padding: 16px 40px 16px 40px;
}
/* #right{
    position: relative;
} */
.bmi-input #chevron1{
    position: absolute;
    right: 30px;
    top: 210px;
}
.bmi-input #chevron2{
    position: absolute;
    right: 30px;
    top: 260px;
}
/* bmi calculator section end */
/* Meet Our Team section start */
.ourteam-container{
    background-color: black;
    border: 2px solid black;
}
.ourteam-content{
    max-width: 1100px;
    /* border: 2px solid white; */
    margin: 0 auto;
    margin-bottom: 50px;
}
.meet h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 35px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    margin-bottom: 14px;
}
.meet p{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin-bottom: 50px;
}
.image-glarry{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 18px;
    /* border: 2px solid red; */
}
.png-image {
    position: relative;
}
.png-image img{
    width: 100%;
    height: 100%;
    margin-right: 0%;
    border-radius: 18px;
}
.png-image h1{
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    position: absolute;
    top: 280px;
    left: 20px;
}
.png-image p{
    color: rgba(255, 255, 255, 0.5);
    font-family: "Inter", sans-serif;
    position: absolute;
    top: 310px;
    left: 20px;
}
/* Meet Our Team section end */
/* challenge section start */
.equipment-container{
    background-color: black;
    padding: 30px;
}
.equipment-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1100px;
    /* border: 2px solid white; */
    margin: 0 auto;
    background-color: #082032;
    border-radius: 18px;padding: 20px;
}
.equipment-container h2{
    color: white;
    text-align: center;
    color: rgba(255, 255, 255);
    font-size: 31px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    margin-bottom: 30px;
}
#image-controler{
    width: 65%;
    border-radius: 150px;
    margin-left: 17%;
    border: 3px solid #69779B;
    margin-top: 30px;
}
.gym-equipment h1{
    color: white;
    text-align: center;
    color: rgba(255, 255, 255);
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin-top: 20px;
}
.gym-equipment p{
    color: white;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
}
/* challenge section end */
/* footer section start */
.footer-container{
    background-color: black;
    border: 2px solid rgba(255, 255, 255, 0.1);
}
.bg-color{
    background-color: rgba(255, 255, 255, 0.1);
}
.footer-content{
    max-width: 1100px;
    /* border: 2px solid green; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.first-section{
    margin-top: 30px;
}
.first-section h2{
    font-size: 60px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-style: italic;
    color: rgb(230, 83, 60);
    margin-bottom: 20px;
}
.first-section p{
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5); 
}
.second-section{
    margin-top: 30px;
}
.second-section h2{
    font-size: 30px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-bottom: 35px;
}
.second-section p{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.border{
    border: 1px solid rgba(255, 255, 255, 0.1);
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 30px;
}
.last-title{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    max-width: 1100px;
    text-align: center;
    /* border: 2px solid green;  */
}
/* footer section end */